.dirEnvioContainer {
    display: flex;
    flex-flow: row nowrap;
}

.datosEnvioContainer {
    display: flex;
    flex-flow: row nowrap;
}
    @media (min-width: 992px) {
        .datosEnvioContainer {
            flex-flow: column nowrap;
        }
    }

.datosEnvioContainer-nombre {
    color: rgba(0,0,0,.5);
    font-size: 10px;
    font-weight: 500;
}

.datosEnvioContainer-direccion {
    color: rgb(51, 51, 51);
    font-size: 13px;
    font-weight: 500;
    line-height: 100%;
}